@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <img src="/logoMinistere.png" class="img-fluid" alt="Responsive image" />
    <br />
    <h1 class="display-4">Bienvenue</h1>
    <p>Votre portail au Ministère de l’Equipement et de l’Eau.</p>

</div>
